.op{background-color: aquamarine;
    border: 2px solid red;
text-align: center;
font-size: larger;
border-radius: 20px;}

.ty{
    color: green;
    font-size: 18px;
}

.uu{
    background-color: yellow;
text-align: center;
color: green;}

.ii[
    width="860" 
]
.ui{
    font-size: 18px;
    background-color: blue;
}